Ground Movement Control/Ground Movement Control/Web References/VizualizatorWs/visualisator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://airport-dko-1.cloudapp.net/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://airport-dko-1.cloudapp.net/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://airport-dko-1.cloudapp.net/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="GetMap">
        <s:complexType />
      </s:element>
      <s:element name="GetMapResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMapResult" type="tns:ArrayOfCoordinateTuple" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCoordinateTuple">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CoordinateTuple" nillable="true" type="tns:CoordinateTuple" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CoordinateTuple">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="X" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Y" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetMapObjects">
        <s:complexType />
      </s:element>
      <s:element name="GetMapObjectsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMapObjectsResult" type="tns:ArrayOfLocation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLocation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Location" nillable="true" type="tns:Location" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Location">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Position" type="tns:CoordinateTuple" />
          <s:element minOccurs="0" maxOccurs="1" name="MapObj" type="tns:MapObject" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MapObject">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:MapObjectType" />
          <s:element minOccurs="1" maxOccurs="1" name="number" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="MapObjectType">
        <s:restriction base="s:string">
          <s:enumeration value="Runway" />
          <s:enumeration value="Garage" />
          <s:enumeration value="ServiceArea" />
          <s:enumeration value="Airport" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetRoutes">
        <s:complexType />
      </s:element>
      <s:element name="GetRoutesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRoutesResult" type="tns:ArrayOfRoute" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRoute">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Route" nillable="true" type="tns:Route" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Route">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="From" type="tns:Location" />
          <s:element minOccurs="0" maxOccurs="1" name="To" type="tns:Location" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="Points" type="tns:CoordinateTuple" />
        </s:sequence>
      </s:complexType>
      <s:element name="MoveObject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="type" type="tns:MoveObjectType" />
            <s:element minOccurs="1" maxOccurs="1" name="objectID" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="newPosition" type="tns:CoordinateTuple" />
            <s:element minOccurs="1" maxOccurs="1" name="speed" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="MoveObjectType">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="Plane" />
          <s:enumeration value="FollowMeVan" />
          <s:enumeration value="ContainerLoader" />
          <s:enumeration value="BaggageTractor" />
          <s:enumeration value="CateringTruck" />
          <s:enumeration value="Deicer" />
          <s:enumeration value="PassengerStairs" />
          <s:enumeration value="PassengerBus" />
          <s:enumeration value="VipShuttle" />
          <s:enumeration value="SnowRemovalVehicle" />
        </s:restriction>
      </s:simpleType>
      <s:element name="MoveObjectResponse">
        <s:complexType />
      </s:element>
      <s:element name="LetItSnow">
        <s:complexType />
      </s:element>
      <s:element name="LetItSnowResponse">
        <s:complexType />
      </s:element>
      <s:element name="Reset">
        <s:complexType />
      </s:element>
      <s:element name="ResetResponse">
        <s:complexType />
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetMapSoapIn">
    <wsdl:part name="parameters" element="tns:GetMap" />
  </wsdl:message>
  <wsdl:message name="GetMapSoapOut">
    <wsdl:part name="parameters" element="tns:GetMapResponse" />
  </wsdl:message>
  <wsdl:message name="GetMapObjectsSoapIn">
    <wsdl:part name="parameters" element="tns:GetMapObjects" />
  </wsdl:message>
  <wsdl:message name="GetMapObjectsSoapOut">
    <wsdl:part name="parameters" element="tns:GetMapObjectsResponse" />
  </wsdl:message>
  <wsdl:message name="GetRoutesSoapIn">
    <wsdl:part name="parameters" element="tns:GetRoutes" />
  </wsdl:message>
  <wsdl:message name="GetRoutesSoapOut">
    <wsdl:part name="parameters" element="tns:GetRoutesResponse" />
  </wsdl:message>
  <wsdl:message name="MoveObjectSoapIn">
    <wsdl:part name="parameters" element="tns:MoveObject" />
  </wsdl:message>
  <wsdl:message name="MoveObjectSoapOut">
    <wsdl:part name="parameters" element="tns:MoveObjectResponse" />
  </wsdl:message>
  <wsdl:message name="LetItSnowSoapIn">
    <wsdl:part name="parameters" element="tns:LetItSnow" />
  </wsdl:message>
  <wsdl:message name="LetItSnowSoapOut">
    <wsdl:part name="parameters" element="tns:LetItSnowResponse" />
  </wsdl:message>
  <wsdl:message name="ResetSoapIn">
    <wsdl:part name="parameters" element="tns:Reset" />
  </wsdl:message>
  <wsdl:message name="ResetSoapOut">
    <wsdl:part name="parameters" element="tns:ResetResponse" />
  </wsdl:message>
  <wsdl:portType name="visualisatorSoap">
    <wsdl:operation name="GetMap">
      <wsdl:input message="tns:GetMapSoapIn" />
      <wsdl:output message="tns:GetMapSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMapObjects">
      <wsdl:input message="tns:GetMapObjectsSoapIn" />
      <wsdl:output message="tns:GetMapObjectsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRoutes">
      <wsdl:input message="tns:GetRoutesSoapIn" />
      <wsdl:output message="tns:GetRoutesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MoveObject">
      <wsdl:input message="tns:MoveObjectSoapIn" />
      <wsdl:output message="tns:MoveObjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LetItSnow">
      <wsdl:input message="tns:LetItSnowSoapIn" />
      <wsdl:output message="tns:LetItSnowSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Reset">
      <wsdl:input message="tns:ResetSoapIn" />
      <wsdl:output message="tns:ResetSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="visualisatorSoap" type="tns:visualisatorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMap">
      <soap:operation soapAction="http://airport-dko-1.cloudapp.net/GetMap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMapObjects">
      <soap:operation soapAction="http://airport-dko-1.cloudapp.net/GetMapObjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoutes">
      <soap:operation soapAction="http://airport-dko-1.cloudapp.net/GetRoutes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveObject">
      <soap:operation soapAction="http://airport-dko-1.cloudapp.net/MoveObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LetItSnow">
      <soap:operation soapAction="http://airport-dko-1.cloudapp.net/LetItSnow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reset">
      <soap:operation soapAction="http://airport-dko-1.cloudapp.net/Reset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="visualisatorSoap12" type="tns:visualisatorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMap">
      <soap12:operation soapAction="http://airport-dko-1.cloudapp.net/GetMap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMapObjects">
      <soap12:operation soapAction="http://airport-dko-1.cloudapp.net/GetMapObjects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoutes">
      <soap12:operation soapAction="http://airport-dko-1.cloudapp.net/GetRoutes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveObject">
      <soap12:operation soapAction="http://airport-dko-1.cloudapp.net/MoveObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LetItSnow">
      <soap12:operation soapAction="http://airport-dko-1.cloudapp.net/LetItSnow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reset">
      <soap12:operation soapAction="http://airport-dko-1.cloudapp.net/Reset" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="visualisator">
    <wsdl:port name="visualisatorSoap" binding="tns:visualisatorSoap">
      <soap:address location="http://airport-dko-1.cloudapp.net/visualisator.asmx" />
    </wsdl:port>
    <wsdl:port name="visualisatorSoap12" binding="tns:visualisatorSoap12">
      <soap12:address location="http://airport-dko-1.cloudapp.net/visualisator.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>