Ground Service Control/Ground Service Control/Web References/AircraftGenerator/AircraftGenerator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="DKO-Ariport-Aircraft-Generator" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s2="http://tempuri.org/" xmlns:s3="Airport" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="DKO-Ariport-Aircraft-Generator" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="DKO-Ariport-Aircraft-Generator">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:import namespace="http://tempuri.org/" />
      <s:import namespace="Airport" />
      <s:element name="CreateNewPlane">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="type" type="tns:PlaneType" />
            <s:element minOccurs="1" maxOccurs="1" name="fuelNeed" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="currentStandartPassengers" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="currentVipPassengers" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="currentBaggage" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="hasArrivalPassengers" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="PlaneType">
        <s:restriction base="s:string">
          <s:enumeration value="Airbus" />
          <s:enumeration value="Jet" />
        </s:restriction>
      </s:simpleType>
      <s:element name="CreateNewPlaneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateNewPlaneResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllPlanes">
        <s:complexType />
      </s:element>
      <s:element name="GetAllPlanesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllPlanesResult" type="tns:ArrayOfPlane" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPlane">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Plane" nillable="true" type="tns:Plane" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Plane">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Flight" type="s2:Flight" />
          <s:element minOccurs="1" maxOccurs="1" name="State" type="tns:PlaneState" />
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:PlaneType" />
          <s:element minOccurs="1" maxOccurs="1" name="FuelNeed" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CurrentStandartPassengers" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CurrentVipPassengers" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CurrentBaggage" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CurrentCatering" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HasArrivalPassengers" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceZone" type="s3:MapObject" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="PlaneState">
        <s:restriction base="s:string">
          <s:enumeration value="Arrival" />
          <s:enumeration value="Landing" />
          <s:enumeration value="TaxingToServiceArea" />
          <s:enumeration value="OnService" />
          <s:enumeration value="TaxingToRunway" />
          <s:enumeration value="Departed" />
        </s:restriction>
      </s:simpleType>
      <s:element name="BindPlaneToFlight">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="planeId" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="flightId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BindPlaneToFlightResponse">
        <s:complexType />
      </s:element>
      <s:element name="UnloadBaggage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serviseZone" type="s3:MapObject" />
            <s:element minOccurs="1" maxOccurs="1" name="weightOfBaggage" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnloadBaggageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UnloadBaggageResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadBaggage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serviseZone" type="s3:MapObject" />
            <s:element minOccurs="1" maxOccurs="1" name="weightOfBaggage" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadBaggageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoadBaggageResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadStandartPassengers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serviseZone" type="s3:MapObject" />
            <s:element minOccurs="0" maxOccurs="1" name="passengers" type="tns:ArrayOfGuid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGuid">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="guid" type="s1:guid" />
        </s:sequence>
      </s:complexType>
      <s:element name="LoadStandartPassengersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoadStandartPassengersResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadVipPassengers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serviseZone" type="s3:MapObject" />
            <s:element minOccurs="0" maxOccurs="1" name="passengers" type="tns:ArrayOfGuid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadVipPassengersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoadVipPassengersResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnloadStandartPassengers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serviseZone" type="s3:MapObject" />
            <s:element minOccurs="1" maxOccurs="1" name="countOfPassengers" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnloadStandartPassengersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UnloadStandartPassengersResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnloadVipPassengers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serviseZone" type="s3:MapObject" />
            <s:element minOccurs="1" maxOccurs="1" name="countOfPassengers" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnloadVipPassengersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UnloadVipPassengersResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadCatering">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serviseZone" type="s3:MapObject" />
            <s:element minOccurs="0" maxOccurs="1" name="catering" type="tns:Catering" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Catering">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Default" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Children" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Diabetic" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LowCalorie" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Vegetarian" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="LoadCateringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoadCateringResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FollowMe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="planeId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FollowMeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FollowMeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoStep">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="planeId" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="step" type="s3:CoordinateTuple" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoStepResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DoStepResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FollowMeComplete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="planeId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FollowMeCompleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FollowMeCompleteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Douched">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serviÑeZone" type="s3:MapObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DouchedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DouchedResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Reset">
        <s:complexType />
      </s:element>
      <s:element name="ResetResponse">
        <s:complexType />
      </s:element>
      <s:element name="SnowCleanFinished">
        <s:complexType />
      </s:element>
      <s:element name="SnowCleanFinishedResponse">
        <s:complexType />
      </s:element>
      <s:element name="ServiceComplete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="planeId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceCompleteResponse">
        <s:complexType />
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:complexType name="Flight">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="number" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="city" type="s2:Cities" />
          <s:element minOccurs="1" maxOccurs="1" name="arrivalTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="takeoffTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="StartRegistrationTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="EndRegistrationTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="EconomPassengersCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="VipPassengersCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BindPlaneID" nillable="true" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="IsReadyTakeOff" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="Cities">
        <s:restriction base="s:string">
          <s:enumeration value="Tokyo" />
          <s:enumeration value="Kyiv" />
          <s:enumeration value="Whitecourt" />
          <s:enumeration value="Roma" />
          <s:enumeration value="Washington" />
          <s:enumeration value="Minsk" />
          <s:enumeration value="Almaty" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="Airport">
      <s:complexType name="MapObject">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MapObjectType" type="s3:MapObjectType" />
          <s:element minOccurs="1" maxOccurs="1" name="Number" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="MapObjectType">
        <s:restriction base="s:string">
          <s:enumeration value="Runway" />
          <s:enumeration value="Garage" />
          <s:enumeration value="ServiceArea" />
          <s:enumeration value="Airport" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="CoordinateTuple">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="X" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Y" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateNewPlaneSoapIn">
    <wsdl:part name="parameters" element="tns:CreateNewPlane" />
  </wsdl:message>
  <wsdl:message name="CreateNewPlaneSoapOut">
    <wsdl:part name="parameters" element="tns:CreateNewPlaneResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllPlanesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllPlanes" />
  </wsdl:message>
  <wsdl:message name="GetAllPlanesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllPlanesResponse" />
  </wsdl:message>
  <wsdl:message name="BindPlaneToFlightSoapIn">
    <wsdl:part name="parameters" element="tns:BindPlaneToFlight" />
  </wsdl:message>
  <wsdl:message name="BindPlaneToFlightSoapOut">
    <wsdl:part name="parameters" element="tns:BindPlaneToFlightResponse" />
  </wsdl:message>
  <wsdl:message name="UnloadBaggageSoapIn">
    <wsdl:part name="parameters" element="tns:UnloadBaggage" />
  </wsdl:message>
  <wsdl:message name="UnloadBaggageSoapOut">
    <wsdl:part name="parameters" element="tns:UnloadBaggageResponse" />
  </wsdl:message>
  <wsdl:message name="LoadBaggageSoapIn">
    <wsdl:part name="parameters" element="tns:LoadBaggage" />
  </wsdl:message>
  <wsdl:message name="LoadBaggageSoapOut">
    <wsdl:part name="parameters" element="tns:LoadBaggageResponse" />
  </wsdl:message>
  <wsdl:message name="LoadStandartPassengersSoapIn">
    <wsdl:part name="parameters" element="tns:LoadStandartPassengers" />
  </wsdl:message>
  <wsdl:message name="LoadStandartPassengersSoapOut">
    <wsdl:part name="parameters" element="tns:LoadStandartPassengersResponse" />
  </wsdl:message>
  <wsdl:message name="LoadVipPassengersSoapIn">
    <wsdl:part name="parameters" element="tns:LoadVipPassengers" />
  </wsdl:message>
  <wsdl:message name="LoadVipPassengersSoapOut">
    <wsdl:part name="parameters" element="tns:LoadVipPassengersResponse" />
  </wsdl:message>
  <wsdl:message name="UnloadStandartPassengersSoapIn">
    <wsdl:part name="parameters" element="tns:UnloadStandartPassengers" />
  </wsdl:message>
  <wsdl:message name="UnloadStandartPassengersSoapOut">
    <wsdl:part name="parameters" element="tns:UnloadStandartPassengersResponse" />
  </wsdl:message>
  <wsdl:message name="UnloadVipPassengersSoapIn">
    <wsdl:part name="parameters" element="tns:UnloadVipPassengers" />
  </wsdl:message>
  <wsdl:message name="UnloadVipPassengersSoapOut">
    <wsdl:part name="parameters" element="tns:UnloadVipPassengersResponse" />
  </wsdl:message>
  <wsdl:message name="LoadCateringSoapIn">
    <wsdl:part name="parameters" element="tns:LoadCatering" />
  </wsdl:message>
  <wsdl:message name="LoadCateringSoapOut">
    <wsdl:part name="parameters" element="tns:LoadCateringResponse" />
  </wsdl:message>
  <wsdl:message name="FollowMeSoapIn">
    <wsdl:part name="parameters" element="tns:FollowMe" />
  </wsdl:message>
  <wsdl:message name="FollowMeSoapOut">
    <wsdl:part name="parameters" element="tns:FollowMeResponse" />
  </wsdl:message>
  <wsdl:message name="DoStepSoapIn">
    <wsdl:part name="parameters" element="tns:DoStep" />
  </wsdl:message>
  <wsdl:message name="DoStepSoapOut">
    <wsdl:part name="parameters" element="tns:DoStepResponse" />
  </wsdl:message>
  <wsdl:message name="FollowMeCompleteSoapIn">
    <wsdl:part name="parameters" element="tns:FollowMeComplete" />
  </wsdl:message>
  <wsdl:message name="FollowMeCompleteSoapOut">
    <wsdl:part name="parameters" element="tns:FollowMeCompleteResponse" />
  </wsdl:message>
  <wsdl:message name="DouchedSoapIn">
    <wsdl:part name="parameters" element="tns:Douched" />
  </wsdl:message>
  <wsdl:message name="DouchedSoapOut">
    <wsdl:part name="parameters" element="tns:DouchedResponse" />
  </wsdl:message>
  <wsdl:message name="ResetSoapIn">
    <wsdl:part name="parameters" element="tns:Reset" />
  </wsdl:message>
  <wsdl:message name="ResetSoapOut">
    <wsdl:part name="parameters" element="tns:ResetResponse" />
  </wsdl:message>
  <wsdl:message name="SnowCleanFinishedSoapIn">
    <wsdl:part name="parameters" element="tns:SnowCleanFinished" />
  </wsdl:message>
  <wsdl:message name="SnowCleanFinishedSoapOut">
    <wsdl:part name="parameters" element="tns:SnowCleanFinishedResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceCompleteSoapIn">
    <wsdl:part name="parameters" element="tns:ServiceComplete" />
  </wsdl:message>
  <wsdl:message name="ServiceCompleteSoapOut">
    <wsdl:part name="parameters" element="tns:ServiceCompleteResponse" />
  </wsdl:message>
  <wsdl:portType name="AircraftGeneratorSoap">
    <wsdl:operation name="CreateNewPlane">
      <wsdl:input message="tns:CreateNewPlaneSoapIn" />
      <wsdl:output message="tns:CreateNewPlaneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPlanes">
      <wsdl:input message="tns:GetAllPlanesSoapIn" />
      <wsdl:output message="tns:GetAllPlanesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BindPlaneToFlight">
      <wsdl:input message="tns:BindPlaneToFlightSoapIn" />
      <wsdl:output message="tns:BindPlaneToFlightSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UnloadBaggage">
      <wsdl:input message="tns:UnloadBaggageSoapIn" />
      <wsdl:output message="tns:UnloadBaggageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadBaggage">
      <wsdl:input message="tns:LoadBaggageSoapIn" />
      <wsdl:output message="tns:LoadBaggageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadStandartPassengers">
      <wsdl:input message="tns:LoadStandartPassengersSoapIn" />
      <wsdl:output message="tns:LoadStandartPassengersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadVipPassengers">
      <wsdl:input message="tns:LoadVipPassengersSoapIn" />
      <wsdl:output message="tns:LoadVipPassengersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UnloadStandartPassengers">
      <wsdl:input message="tns:UnloadStandartPassengersSoapIn" />
      <wsdl:output message="tns:UnloadStandartPassengersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UnloadVipPassengers">
      <wsdl:input message="tns:UnloadVipPassengersSoapIn" />
      <wsdl:output message="tns:UnloadVipPassengersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadCatering">
      <wsdl:input message="tns:LoadCateringSoapIn" />
      <wsdl:output message="tns:LoadCateringSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FollowMe">
      <wsdl:input message="tns:FollowMeSoapIn" />
      <wsdl:output message="tns:FollowMeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoStep">
      <wsdl:input message="tns:DoStepSoapIn" />
      <wsdl:output message="tns:DoStepSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FollowMeComplete">
      <wsdl:input message="tns:FollowMeCompleteSoapIn" />
      <wsdl:output message="tns:FollowMeCompleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Douched">
      <wsdl:input message="tns:DouchedSoapIn" />
      <wsdl:output message="tns:DouchedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Reset">
      <wsdl:input message="tns:ResetSoapIn" />
      <wsdl:output message="tns:ResetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SnowCleanFinished">
      <wsdl:input message="tns:SnowCleanFinishedSoapIn" />
      <wsdl:output message="tns:SnowCleanFinishedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServiceComplete">
      <wsdl:input message="tns:ServiceCompleteSoapIn" />
      <wsdl:output message="tns:ServiceCompleteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AircraftGeneratorSoap" type="tns:AircraftGeneratorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateNewPlane">
      <soap:operation soapAction="DKO-Ariport-Aircraft-Generator/CreateNewPlane" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPlanes">
      <soap:operation soapAction="DKO-Ariport-Aircraft-Generator/GetAllPlanes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BindPlaneToFlight">
      <soap:operation soapAction="DKO-Ariport-Aircraft-Generator/BindPlaneToFlight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnloadBaggage">
      <soap:operation soapAction="DKO-Ariport-Aircraft-Generator/UnloadBaggage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadBaggage">
      <soap:operation soapAction="DKO-Ariport-Aircraft-Generator/LoadBaggage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadStandartPassengers">
      <soap:operation soapAction="DKO-Ariport-Aircraft-Generator/LoadStandartPassengers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadVipPassengers">
      <soap:operation soapAction="DKO-Ariport-Aircraft-Generator/LoadVipPassengers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnloadStandartPassengers">
      <soap:operation soapAction="DKO-Ariport-Aircraft-Generator/UnloadStandartPassengers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnloadVipPassengers">
      <soap:operation soapAction="DKO-Ariport-Aircraft-Generator/UnloadVipPassengers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadCatering">
      <soap:operation soapAction="DKO-Ariport-Aircraft-Generator/LoadCatering" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FollowMe">
      <soap:operation soapAction="DKO-Ariport-Aircraft-Generator/FollowMe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoStep">
      <soap:operation soapAction="DKO-Ariport-Aircraft-Generator/DoStep" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FollowMeComplete">
      <soap:operation soapAction="DKO-Ariport-Aircraft-Generator/FollowMeComplete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Douched">
      <soap:operation soapAction="DKO-Ariport-Aircraft-Generator/Douched" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reset">
      <soap:operation soapAction="DKO-Ariport-Aircraft-Generator/Reset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SnowCleanFinished">
      <soap:operation soapAction="DKO-Ariport-Aircraft-Generator/SnowCleanFinished" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceComplete">
      <soap:operation soapAction="DKO-Ariport-Aircraft-Generator/ServiceComplete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AircraftGeneratorSoap12" type="tns:AircraftGeneratorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateNewPlane">
      <soap12:operation soapAction="DKO-Ariport-Aircraft-Generator/CreateNewPlane" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPlanes">
      <soap12:operation soapAction="DKO-Ariport-Aircraft-Generator/GetAllPlanes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BindPlaneToFlight">
      <soap12:operation soapAction="DKO-Ariport-Aircraft-Generator/BindPlaneToFlight" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnloadBaggage">
      <soap12:operation soapAction="DKO-Ariport-Aircraft-Generator/UnloadBaggage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadBaggage">
      <soap12:operation soapAction="DKO-Ariport-Aircraft-Generator/LoadBaggage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadStandartPassengers">
      <soap12:operation soapAction="DKO-Ariport-Aircraft-Generator/LoadStandartPassengers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadVipPassengers">
      <soap12:operation soapAction="DKO-Ariport-Aircraft-Generator/LoadVipPassengers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnloadStandartPassengers">
      <soap12:operation soapAction="DKO-Ariport-Aircraft-Generator/UnloadStandartPassengers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnloadVipPassengers">
      <soap12:operation soapAction="DKO-Ariport-Aircraft-Generator/UnloadVipPassengers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadCatering">
      <soap12:operation soapAction="DKO-Ariport-Aircraft-Generator/LoadCatering" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FollowMe">
      <soap12:operation soapAction="DKO-Ariport-Aircraft-Generator/FollowMe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoStep">
      <soap12:operation soapAction="DKO-Ariport-Aircraft-Generator/DoStep" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FollowMeComplete">
      <soap12:operation soapAction="DKO-Ariport-Aircraft-Generator/FollowMeComplete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Douched">
      <soap12:operation soapAction="DKO-Ariport-Aircraft-Generator/Douched" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reset">
      <soap12:operation soapAction="DKO-Ariport-Aircraft-Generator/Reset" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SnowCleanFinished">
      <soap12:operation soapAction="DKO-Ariport-Aircraft-Generator/SnowCleanFinished" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceComplete">
      <soap12:operation soapAction="DKO-Ariport-Aircraft-Generator/ServiceComplete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AircraftGenerator">
    <wsdl:port name="AircraftGeneratorSoap" binding="tns:AircraftGeneratorSoap">
      <soap:address location="http://airport-dko-aircraft-generator.azurewebsites.net/AircraftGenerator.asmx" />
    </wsdl:port>
    <wsdl:port name="AircraftGeneratorSoap12" binding="tns:AircraftGeneratorSoap12">
      <soap12:address location="http://airport-dko-aircraft-generator.azurewebsites.net/AircraftGenerator.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>