Aircraft Generator/Aircraft Generator/Web References/FollowMeWs/FollowMe.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="Airport" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s2="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="Airport" />
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="LeadPlane">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="from" type="s1:MapObject" />
            <s:element minOccurs="0" maxOccurs="1" name="to" type="s1:MapObject" />
            <s:element minOccurs="1" maxOccurs="1" name="planeId" type="s2:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LeadPlaneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LeadPlaneResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="Airport">
      <s:complexType name="MapObject">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MapObjectType" type="s1:MapObjectType" />
          <s:element minOccurs="1" maxOccurs="1" name="Number" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="MapObjectType">
        <s:restriction base="s:string">
          <s:enumeration value="Runway" />
          <s:enumeration value="Garage" />
          <s:enumeration value="ServiceArea" />
          <s:enumeration value="Airport" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LeadPlaneSoapIn">
    <wsdl:part name="parameters" element="tns:LeadPlane" />
  </wsdl:message>
  <wsdl:message name="LeadPlaneSoapOut">
    <wsdl:part name="parameters" element="tns:LeadPlaneResponse" />
  </wsdl:message>
  <wsdl:portType name="FollowMeSoap">
    <wsdl:operation name="LeadPlane">
      <wsdl:input message="tns:LeadPlaneSoapIn" />
      <wsdl:output message="tns:LeadPlaneSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FollowMeSoap" type="tns:FollowMeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LeadPlane">
      <soap:operation soapAction="http://tempuri.org/LeadPlane" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FollowMeSoap12" type="tns:FollowMeSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LeadPlane">
      <soap12:operation soapAction="http://tempuri.org/LeadPlane" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FollowMe">
    <wsdl:port name="FollowMeSoap" binding="tns:FollowMeSoap">
      <soap:address location="http://airport-dko-services.azurewebsites.net/FollowMe.asmx" />
    </wsdl:port>
    <wsdl:port name="FollowMeSoap12" binding="tns:FollowMeSoap12">
      <soap12:address location="http://airport-dko-services.azurewebsites.net/FollowMe.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>