Aircraft Generator/Aircraft Generator/Web References/TowerService/Tower.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="Airport" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="Airport" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="Airport">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="LandingRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="planeId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LandingRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LandingRequestResult" type="tns:MapObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MapObject">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MapObjectType" type="tns:MapObjectType" />
          <s:element minOccurs="1" maxOccurs="1" name="Number" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="MapObjectType">
        <s:restriction base="s:string">
          <s:enumeration value="Runway" />
          <s:enumeration value="Garage" />
          <s:enumeration value="ServiceArea" />
          <s:enumeration value="Airport" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LandingRequestSoapIn">
    <wsdl:part name="parameters" element="tns:LandingRequest" />
  </wsdl:message>
  <wsdl:message name="LandingRequestSoapOut">
    <wsdl:part name="parameters" element="tns:LandingRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="TowerSoap">
    <wsdl:operation name="LandingRequest">
      <wsdl:input message="tns:LandingRequestSoapIn" />
      <wsdl:output message="tns:LandingRequestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TowerSoap" type="tns:TowerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LandingRequest">
      <soap:operation soapAction="Airport/LandingRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TowerSoap12" type="tns:TowerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LandingRequest">
      <soap12:operation soapAction="Airport/LandingRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Tower">
    <wsdl:port name="TowerSoap" binding="tns:TowerSoap">
      <soap:address location="http://airport-dko-gmc.azurewebsites.net/Tower.asmx" />
    </wsdl:port>
    <wsdl:port name="TowerSoap12" binding="tns:TowerSoap12">
      <soap12:address location="http://airport-dko-gmc.azurewebsites.net/Tower.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>