Ground Service Control/Ground Service Control/Web References/Refueler/Refueler.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="Airport" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s2="DKO-Airport-Ground-Service-Control" xmlns:s3="http://microsoft.com/wsdl/types/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="Airport" />
      <s:import namespace="DKO-Airport-Ground-Service-Control" />
      <s:element name="Fill">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serviceZone" type="s1:MapObject" />
            <s:element minOccurs="1" maxOccurs="1" name="litersOfFuel" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="taskId" type="s2:ServiceTaskId" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FillResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="Airport">
      <s:complexType name="MapObject">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MapObjectType" type="s1:MapObjectType" />
          <s:element minOccurs="1" maxOccurs="1" name="Number" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="MapObjectType">
        <s:restriction base="s:string">
          <s:enumeration value="Runway" />
          <s:enumeration value="Garage" />
          <s:enumeration value="ServiceArea" />
          <s:enumeration value="Airport" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="DKO-Airport-Ground-Service-Control">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:complexType name="ServiceTaskId">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="plane" type="s3:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="type" type="s2:ServiceTaskType" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ServiceTaskType">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="BaggageTractor" />
          <s:enumeration value="CateringTruck" />
          <s:enumeration value="ContainerLoader" />
          <s:enumeration value="PassengerBus" />
          <s:enumeration value="PassengerStairs" />
          <s:enumeration value="Refueler" />
          <s:enumeration value="VIPShuttle" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FillSoapIn">
    <wsdl:part name="parameters" element="tns:Fill" />
  </wsdl:message>
  <wsdl:message name="FillSoapOut">
    <wsdl:part name="parameters" element="tns:FillResponse" />
  </wsdl:message>
  <wsdl:portType name="RefuelerSoap">
    <wsdl:operation name="Fill">
      <wsdl:input message="tns:FillSoapIn" />
      <wsdl:output message="tns:FillSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RefuelerSoap" type="tns:RefuelerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Fill">
      <soap:operation soapAction="http://tempuri.org/Fill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RefuelerSoap12" type="tns:RefuelerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Fill">
      <soap12:operation soapAction="http://tempuri.org/Fill" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Refueler">
    <wsdl:port name="RefuelerSoap" binding="tns:RefuelerSoap">
      <soap:address location="http://airport-dko-services.azurewebsites.net/Refueler.asmx" />
    </wsdl:port>
    <wsdl:port name="RefuelerSoap12" binding="tns:RefuelerSoap12">
      <soap12:address location="http://airport-dko-services.azurewebsites.net/Refueler.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>