Snowplug/Snowplug/Web References/GMC/gmc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="Airport" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="Airport" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="Airport">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="GetRoute">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="from" type="tns:MapObject" />
            <s:element minOccurs="0" maxOccurs="1" name="to" type="tns:MapObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MapObject">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MapObjectType" type="tns:MapObjectType" />
          <s:element minOccurs="1" maxOccurs="1" name="Number" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="MapObjectType">
        <s:restriction base="s:string">
          <s:enumeration value="Runway" />
          <s:enumeration value="Garage" />
          <s:enumeration value="ServiceArea" />
          <s:enumeration value="Airport" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetRouteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRouteResult" type="tns:ArrayOfCoordinateTuple" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCoordinateTuple">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CoordinateTuple" nillable="true" type="tns:CoordinateTuple" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CoordinateTuple">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="X" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Y" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="Step">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="coordinate" type="tns:CoordinateTuple" />
            <s:element minOccurs="1" maxOccurs="1" name="type" type="tns:MoveObjectType" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="MoveObjectType">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="Plane" />
          <s:enumeration value="FollowMeVan" />
          <s:enumeration value="ContainerLoader" />
          <s:enumeration value="BaggageTractor" />
          <s:enumeration value="CateringTruck" />
          <s:enumeration value="Deicer" />
          <s:enumeration value="PassengerStairs" />
          <s:enumeration value="PassengerBus" />
          <s:enumeration value="VipShuttle" />
          <s:enumeration value="SnowRemovalVehicle" />
          <s:enumeration value="Refueler" />
        </s:restriction>
      </s:simpleType>
      <s:element name="StepResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="StepResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckRunwayAwailability">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="planeGuid" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckRunwayAwailabilityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckRunwayAwailabilityResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPlaneServiceZone">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="planeGuid" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPlaneServiceZoneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPlaneServiceZoneResult" type="tns:MapObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunwayRelease">
        <s:complexType />
      </s:element>
      <s:element name="RunwayReleaseResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetRunway">
        <s:complexType />
      </s:element>
      <s:element name="GetRunwayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRunwayResult" type="tns:MapObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServiceZones">
        <s:complexType />
      </s:element>
      <s:element name="GetServiceZonesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServiceZonesResult" type="tns:ArrayOfMapObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMapObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MapObject" nillable="true" type="tns:MapObject" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetRouteSoapIn">
    <wsdl:part name="parameters" element="tns:GetRoute" />
  </wsdl:message>
  <wsdl:message name="GetRouteSoapOut">
    <wsdl:part name="parameters" element="tns:GetRouteResponse" />
  </wsdl:message>
  <wsdl:message name="StepSoapIn">
    <wsdl:part name="parameters" element="tns:Step" />
  </wsdl:message>
  <wsdl:message name="StepSoapOut">
    <wsdl:part name="parameters" element="tns:StepResponse" />
  </wsdl:message>
  <wsdl:message name="CheckRunwayAwailabilitySoapIn">
    <wsdl:part name="parameters" element="tns:CheckRunwayAwailability" />
  </wsdl:message>
  <wsdl:message name="CheckRunwayAwailabilitySoapOut">
    <wsdl:part name="parameters" element="tns:CheckRunwayAwailabilityResponse" />
  </wsdl:message>
  <wsdl:message name="GetPlaneServiceZoneSoapIn">
    <wsdl:part name="parameters" element="tns:GetPlaneServiceZone" />
  </wsdl:message>
  <wsdl:message name="GetPlaneServiceZoneSoapOut">
    <wsdl:part name="parameters" element="tns:GetPlaneServiceZoneResponse" />
  </wsdl:message>
  <wsdl:message name="RunwayReleaseSoapIn">
    <wsdl:part name="parameters" element="tns:RunwayRelease" />
  </wsdl:message>
  <wsdl:message name="RunwayReleaseSoapOut">
    <wsdl:part name="parameters" element="tns:RunwayReleaseResponse" />
  </wsdl:message>
  <wsdl:message name="GetRunwaySoapIn">
    <wsdl:part name="parameters" element="tns:GetRunway" />
  </wsdl:message>
  <wsdl:message name="GetRunwaySoapOut">
    <wsdl:part name="parameters" element="tns:GetRunwayResponse" />
  </wsdl:message>
  <wsdl:message name="GetServiceZonesSoapIn">
    <wsdl:part name="parameters" element="tns:GetServiceZones" />
  </wsdl:message>
  <wsdl:message name="GetServiceZonesSoapOut">
    <wsdl:part name="parameters" element="tns:GetServiceZonesResponse" />
  </wsdl:message>
  <wsdl:portType name="GMCSoap">
    <wsdl:operation name="GetRoute">
      <wsdl:input message="tns:GetRouteSoapIn" />
      <wsdl:output message="tns:GetRouteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Step">
      <wsdl:input message="tns:StepSoapIn" />
      <wsdl:output message="tns:StepSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckRunwayAwailability">
      <wsdl:input message="tns:CheckRunwayAwailabilitySoapIn" />
      <wsdl:output message="tns:CheckRunwayAwailabilitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPlaneServiceZone">
      <wsdl:input message="tns:GetPlaneServiceZoneSoapIn" />
      <wsdl:output message="tns:GetPlaneServiceZoneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RunwayRelease">
      <wsdl:input message="tns:RunwayReleaseSoapIn" />
      <wsdl:output message="tns:RunwayReleaseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRunway">
      <wsdl:input message="tns:GetRunwaySoapIn" />
      <wsdl:output message="tns:GetRunwaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceZones">
      <wsdl:input message="tns:GetServiceZonesSoapIn" />
      <wsdl:output message="tns:GetServiceZonesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GMCSoap" type="tns:GMCSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRoute">
      <soap:operation soapAction="Airport/GetRoute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Step">
      <soap:operation soapAction="Airport/Step" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckRunwayAwailability">
      <soap:operation soapAction="Airport/CheckRunwayAwailability" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlaneServiceZone">
      <soap:operation soapAction="Airport/GetPlaneServiceZone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunwayRelease">
      <soap:operation soapAction="Airport/RunwayRelease" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRunway">
      <soap:operation soapAction="Airport/GetRunway" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceZones">
      <soap:operation soapAction="Airport/GetServiceZones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GMCSoap12" type="tns:GMCSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRoute">
      <soap12:operation soapAction="Airport/GetRoute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Step">
      <soap12:operation soapAction="Airport/Step" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckRunwayAwailability">
      <soap12:operation soapAction="Airport/CheckRunwayAwailability" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlaneServiceZone">
      <soap12:operation soapAction="Airport/GetPlaneServiceZone" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunwayRelease">
      <soap12:operation soapAction="Airport/RunwayRelease" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRunway">
      <soap12:operation soapAction="Airport/GetRunway" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceZones">
      <soap12:operation soapAction="Airport/GetServiceZones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GMC">
    <wsdl:port name="GMCSoap" binding="tns:GMCSoap">
      <soap:address location="http://airport-dko-gmc.azurewebsites.net/gmc.asmx" />
    </wsdl:port>
    <wsdl:port name="GMCSoap12" binding="tns:GMCSoap12">
      <soap12:address location="http://airport-dko-gmc.azurewebsites.net/gmc.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>