Ground Service Control/Ground Service Control/Web References/CateringTruck/CateringTruck.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="Airport" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s2="http://microsoft.com/wsdl/types/" xmlns:s3="DKO-Airport-Ground-Service-Control" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="Airport" />
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:import namespace="DKO-Airport-Ground-Service-Control" />
      <s:element name="LoadFood">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serviseZone" type="s1:MapObject" />
            <s:element minOccurs="1" maxOccurs="1" name="flightNumber" type="s2:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="taskId" type="s3:ServiceTaskId" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadFoodResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoadFoodResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="Airport">
      <s:complexType name="MapObject">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MapObjectType" type="s1:MapObjectType" />
          <s:element minOccurs="1" maxOccurs="1" name="Number" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="MapObjectType">
        <s:restriction base="s:string">
          <s:enumeration value="Runway" />
          <s:enumeration value="Garage" />
          <s:enumeration value="ServiceArea" />
          <s:enumeration value="Airport" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="DKO-Airport-Ground-Service-Control">
      <s:complexType name="ServiceTaskId" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoadFoodSoapIn">
    <wsdl:part name="parameters" element="tns:LoadFood" />
  </wsdl:message>
  <wsdl:message name="LoadFoodSoapOut">
    <wsdl:part name="parameters" element="tns:LoadFoodResponse" />
  </wsdl:message>
  <wsdl:portType name="CateringTruckSoap">
    <wsdl:operation name="LoadFood">
      <wsdl:input message="tns:LoadFoodSoapIn" />
      <wsdl:output message="tns:LoadFoodSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CateringTruckSoap" type="tns:CateringTruckSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoadFood">
      <soap:operation soapAction="http://tempuri.org/LoadFood" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CateringTruckSoap12" type="tns:CateringTruckSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoadFood">
      <soap12:operation soapAction="http://tempuri.org/LoadFood" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CateringTruck">
    <wsdl:port name="CateringTruckSoap" binding="tns:CateringTruckSoap">
      <soap:address location="http://airport-dko-services.azurewebsites.net/CateringTruck.asmx" />
    </wsdl:port>
    <wsdl:port name="CateringTruckSoap12" binding="tns:CateringTruckSoap12">
      <soap12:address location="http://airport-dko-services.azurewebsites.net/CateringTruck.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>