Ground Service Control/Ground Service Control/Web References/PassengerStairs/PassengerStairs.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="DKO-Airport-Ground-Movement-Control" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s2="http://microsoft.com/wsdl/types/" xmlns:s3="DKO-Airport-Ground-Service-Control" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="DKO-Airport-Ground-Movement-Control" />
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:import namespace="DKO-Airport-Ground-Service-Control" />
      <s:element name="ToServiceZone">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serviceZone" type="s1:MapObject" />
            <s:element minOccurs="1" maxOccurs="1" name="flightNumber" type="s2:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="taskId" type="s3:ServiceTaskId" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ToServiceZoneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ToServiceZoneResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ToGarage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serviceZone" type="s1:MapObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ToGarageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ToGarageResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="DKO-Airport-Ground-Movement-Control">
      <s:complexType name="MapObject">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MapObjectType" type="s1:MapObjectType" />
          <s:element minOccurs="1" maxOccurs="1" name="Number" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="MapObjectType">
        <s:restriction base="s:string">
          <s:enumeration value="Runway" />
          <s:enumeration value="Garage" />
          <s:enumeration value="ServiceArea" />
          <s:enumeration value="Airport" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="DKO-Airport-Ground-Service-Control">
      <s:complexType name="ServiceTaskId" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ToServiceZoneSoapIn">
    <wsdl:part name="parameters" element="tns:ToServiceZone" />
  </wsdl:message>
  <wsdl:message name="ToServiceZoneSoapOut">
    <wsdl:part name="parameters" element="tns:ToServiceZoneResponse" />
  </wsdl:message>
  <wsdl:message name="ToGarageSoapIn">
    <wsdl:part name="parameters" element="tns:ToGarage" />
  </wsdl:message>
  <wsdl:message name="ToGarageSoapOut">
    <wsdl:part name="parameters" element="tns:ToGarageResponse" />
  </wsdl:message>
  <wsdl:portType name="PassengerStairsSoap">
    <wsdl:operation name="ToServiceZone">
      <wsdl:input message="tns:ToServiceZoneSoapIn" />
      <wsdl:output message="tns:ToServiceZoneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ToGarage">
      <wsdl:input message="tns:ToGarageSoapIn" />
      <wsdl:output message="tns:ToGarageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PassengerStairsSoap" type="tns:PassengerStairsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ToServiceZone">
      <soap:operation soapAction="http://tempuri.org/ToServiceZone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ToGarage">
      <soap:operation soapAction="http://tempuri.org/ToGarage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PassengerStairsSoap12" type="tns:PassengerStairsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ToServiceZone">
      <soap12:operation soapAction="http://tempuri.org/ToServiceZone" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ToGarage">
      <soap12:operation soapAction="http://tempuri.org/ToGarage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PassengerStairs">
    <wsdl:port name="PassengerStairsSoap" binding="tns:PassengerStairsSoap">
      <soap:address location="http://airport-dko-services.azurewebsites.net/PassengerStairs.asmx" />
    </wsdl:port>
    <wsdl:port name="PassengerStairsSoap12" binding="tns:PassengerStairsSoap12">
      <soap12:address location="http://airport-dko-services.azurewebsites.net/PassengerStairs.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>