Aircraft Generator/Aircraft Generator/Web References/DeicerVs/Deicer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="Airport" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="Airport" />
      <s:element name="DouchePlane">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serviceZone" type="s1:MapObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DouchePlaneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DouchePlaneResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="Airport">
      <s:complexType name="MapObject">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MapObjectType" type="s1:MapObjectType" />
          <s:element minOccurs="1" maxOccurs="1" name="Number" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="MapObjectType">
        <s:restriction base="s:string">
          <s:enumeration value="Runway" />
          <s:enumeration value="Garage" />
          <s:enumeration value="ServiceArea" />
          <s:enumeration value="Airport" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DouchePlaneSoapIn">
    <wsdl:part name="parameters" element="tns:DouchePlane" />
  </wsdl:message>
  <wsdl:message name="DouchePlaneSoapOut">
    <wsdl:part name="parameters" element="tns:DouchePlaneResponse" />
  </wsdl:message>
  <wsdl:portType name="DeicerSoap">
    <wsdl:operation name="DouchePlane">
      <wsdl:input message="tns:DouchePlaneSoapIn" />
      <wsdl:output message="tns:DouchePlaneSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DeicerSoap" type="tns:DeicerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DouchePlane">
      <soap:operation soapAction="http://tempuri.org/DouchePlane" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DeicerSoap12" type="tns:DeicerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DouchePlane">
      <soap12:operation soapAction="http://tempuri.org/DouchePlane" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Deicer">
    <wsdl:port name="DeicerSoap" binding="tns:DeicerSoap">
      <soap:address location="http://airport-dko-services.azurewebsites.net/Deicer.asmx" />
    </wsdl:port>
    <wsdl:port name="DeicerSoap12" binding="tns:DeicerSoap12">
      <soap12:address location="http://airport-dko-services.azurewebsites.net/Deicer.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>