Aircraft Generator GUI/Aircraft Generator GUI/Service References/WSAircraftGenerator/aircraftgenerator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="DKO-Ariport-Aircraft-Generator" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="DKO-Ariport-Aircraft-Generator" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="DKO-Ariport-Aircraft-Generator">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="CreateNewPlane">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="type" type="tns:PlaneType" />
            <s:element minOccurs="1" maxOccurs="1" name="fuelNeed" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="maxStandartPassengers" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="maxVipPassengers" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="hasArrivalPassengers" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="PlaneType">
        <s:restriction base="s:string">
          <s:enumeration value="Airbus" />
          <s:enumeration value="Jet" />
        </s:restriction>
      </s:simpleType>
      <s:element name="CreateNewPlaneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateNewPlaneResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllPlanes">
        <s:complexType />
      </s:element>
      <s:element name="GetAllPlanesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllPlanesResult" type="tns:ArrayOfPlane" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPlane">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Plane" nillable="true" type="tns:Plane" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Plane">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Flight" type="tns:Flight" />
          <s:element minOccurs="1" maxOccurs="1" name="State" type="tns:PlaneState" />
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:PlaneType" />
          <s:element minOccurs="1" maxOccurs="1" name="FuelNeed" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaxStandartPassengers" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaxVipPassengers" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HasArrivalPassengers" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Flight">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FlightNumber" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="City" type="tns:City" />
          <s:element minOccurs="1" maxOccurs="1" name="ArrivalTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DepartureTime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="City">
        <s:restriction base="s:string">
          <s:enumeration value="Tokyo" />
          <s:enumeration value="Paris" />
          <s:enumeration value="Rome" />
          <s:enumeration value="NewYork" />
          <s:enumeration value="Sydney" />
          <s:enumeration value="Brasilia" />
          <s:enumeration value="Antananarivo" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="PlaneState">
        <s:restriction base="s:string">
          <s:enumeration value="Arrival" />
          <s:enumeration value="Landing" />
          <s:enumeration value="TaxingToServiceArea" />
          <s:enumeration value="OnService" />
          <s:enumeration value="TaxingToRunway" />
          <s:enumeration value="Departed" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateNewPlaneSoapIn">
    <wsdl:part name="parameters" element="tns:CreateNewPlane" />
  </wsdl:message>
  <wsdl:message name="CreateNewPlaneSoapOut">
    <wsdl:part name="parameters" element="tns:CreateNewPlaneResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllPlanesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllPlanes" />
  </wsdl:message>
  <wsdl:message name="GetAllPlanesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllPlanesResponse" />
  </wsdl:message>
  <wsdl:portType name="AircraftGeneratorSoap">
    <wsdl:operation name="CreateNewPlane">
      <wsdl:input message="tns:CreateNewPlaneSoapIn" />
      <wsdl:output message="tns:CreateNewPlaneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPlanes">
      <wsdl:input message="tns:GetAllPlanesSoapIn" />
      <wsdl:output message="tns:GetAllPlanesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AircraftGeneratorSoap" type="tns:AircraftGeneratorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateNewPlane">
      <soap:operation soapAction="DKO-Ariport-Aircraft-Generator/CreateNewPlane" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPlanes">
      <soap:operation soapAction="DKO-Ariport-Aircraft-Generator/GetAllPlanes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AircraftGeneratorSoap12" type="tns:AircraftGeneratorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateNewPlane">
      <soap12:operation soapAction="DKO-Ariport-Aircraft-Generator/CreateNewPlane" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPlanes">
      <soap12:operation soapAction="DKO-Ariport-Aircraft-Generator/GetAllPlanes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AircraftGenerator">
    <wsdl:port name="AircraftGeneratorSoap" binding="tns:AircraftGeneratorSoap">
      <soap:address location="http://airport-dko-aircraft-generator.azurewebsites.net/aircraftgenerator.asmx" />
    </wsdl:port>
    <wsdl:port name="AircraftGeneratorSoap12" binding="tns:AircraftGeneratorSoap12">
      <soap12:address location="http://airport-dko-aircraft-generator.azurewebsites.net/aircraftgenerator.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>