WebPassengersGenerator/WebPassengersGenerator/Web References/TicketSalesService/WebServiceTicketSales.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="BuyTicket">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="passengerId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuyTicketResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuyTicketResult" type="tns:Ticket" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Ticket">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PassengerID" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="FlightID" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="TicketClass" type="tns:Class" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="Class">
        <s:restriction base="s:string">
          <s:enumeration value="Vip" />
          <s:enumeration value="Econom" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ReturnTicket">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="passengerId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnTicketResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ReturnTicketResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckTicket">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="passengerid" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="fligthid" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckTicketResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckTicketResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BuyTicketSoapIn">
    <wsdl:part name="parameters" element="tns:BuyTicket" />
  </wsdl:message>
  <wsdl:message name="BuyTicketSoapOut">
    <wsdl:part name="parameters" element="tns:BuyTicketResponse" />
  </wsdl:message>
  <wsdl:message name="ReturnTicketSoapIn">
    <wsdl:part name="parameters" element="tns:ReturnTicket" />
  </wsdl:message>
  <wsdl:message name="ReturnTicketSoapOut">
    <wsdl:part name="parameters" element="tns:ReturnTicketResponse" />
  </wsdl:message>
  <wsdl:message name="CheckTicketSoapIn">
    <wsdl:part name="parameters" element="tns:CheckTicket" />
  </wsdl:message>
  <wsdl:message name="CheckTicketSoapOut">
    <wsdl:part name="parameters" element="tns:CheckTicketResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceTicketSalesSoap">
    <wsdl:operation name="BuyTicket">
      <wsdl:input message="tns:BuyTicketSoapIn" />
      <wsdl:output message="tns:BuyTicketSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReturnTicket">
      <wsdl:input message="tns:ReturnTicketSoapIn" />
      <wsdl:output message="tns:ReturnTicketSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckTicket">
      <wsdl:input message="tns:CheckTicketSoapIn" />
      <wsdl:output message="tns:CheckTicketSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceTicketSalesSoap" type="tns:WebServiceTicketSalesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuyTicket">
      <soap:operation soapAction="http://tempuri.org/BuyTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnTicket">
      <soap:operation soapAction="http://tempuri.org/ReturnTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckTicket">
      <soap:operation soapAction="http://tempuri.org/CheckTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceTicketSalesSoap12" type="tns:WebServiceTicketSalesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuyTicket">
      <soap12:operation soapAction="http://tempuri.org/BuyTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnTicket">
      <soap12:operation soapAction="http://tempuri.org/ReturnTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckTicket">
      <soap12:operation soapAction="http://tempuri.org/CheckTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceTicketSales">
    <wsdl:port name="WebServiceTicketSalesSoap" binding="tns:WebServiceTicketSalesSoap">
      <soap:address location="http://localhost:22401/WebServiceTicketSales.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceTicketSalesSoap12" binding="tns:WebServiceTicketSalesSoap12">
      <soap12:address location="http://localhost:22401/WebServiceTicketSales.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>