Ground Movement Control/Ground Movement Control/Web References/SnowPlugWs/snowplug.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="Airport" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="Airport" />
      <s:element name="Clean">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="coordinates" type="tns:ArrayOfCoordinateTuple" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCoordinateTuple">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CoordinateTuple" nillable="true" type="s1:CoordinateTuple" />
        </s:sequence>
      </s:complexType>
      <s:element name="CleanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CleanResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Reset">
        <s:complexType />
      </s:element>
      <s:element name="ResetResponse">
        <s:complexType />
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="Airport">
      <s:complexType name="CoordinateTuple">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="X" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Y" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CleanSoapIn">
    <wsdl:part name="parameters" element="tns:Clean" />
  </wsdl:message>
  <wsdl:message name="CleanSoapOut">
    <wsdl:part name="parameters" element="tns:CleanResponse" />
  </wsdl:message>
  <wsdl:message name="ResetSoapIn">
    <wsdl:part name="parameters" element="tns:Reset" />
  </wsdl:message>
  <wsdl:message name="ResetSoapOut">
    <wsdl:part name="parameters" element="tns:ResetResponse" />
  </wsdl:message>
  <wsdl:portType name="SnowplugSoap">
    <wsdl:operation name="Clean">
      <wsdl:input message="tns:CleanSoapIn" />
      <wsdl:output message="tns:CleanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Reset">
      <wsdl:input message="tns:ResetSoapIn" />
      <wsdl:output message="tns:ResetSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SnowplugSoap" type="tns:SnowplugSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Clean">
      <soap:operation soapAction="http://tempuri.org/Clean" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reset">
      <soap:operation soapAction="http://tempuri.org/Reset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SnowplugSoap12" type="tns:SnowplugSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Clean">
      <soap12:operation soapAction="http://tempuri.org/Clean" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reset">
      <soap12:operation soapAction="http://tempuri.org/Reset" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Snowplug">
    <wsdl:port name="SnowplugSoap" binding="tns:SnowplugSoap">
      <soap:address location="http://airport-dko-services.azurewebsites.net/snowplug.asmx" />
    </wsdl:port>
    <wsdl:port name="SnowplugSoap12" binding="tns:SnowplugSoap12">
      <soap12:address location="http://airport-dko-services.azurewebsites.net/snowplug.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>