Metrological Service GUI/MetrologicalService/Web References/MetrologWebService/MetrologService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="Airport-Metrological-Service" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="Airport-Metrological-Service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="Airport-Metrological-Service">
      <s:element name="GetCurrentTime">
        <s:complexType />
      </s:element>
      <s:element name="GetCurrentTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetCurrentTimeResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RefreshTick">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="coeff" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RefreshTickResponse">
        <s:complexType />
      </s:element>
      <s:element name="Reset">
        <s:complexType />
      </s:element>
      <s:element name="ResetResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCurrentTimeSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrentTime" />
  </wsdl:message>
  <wsdl:message name="GetCurrentTimeSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrentTimeResponse" />
  </wsdl:message>
  <wsdl:message name="RefreshTickSoapIn">
    <wsdl:part name="parameters" element="tns:RefreshTick" />
  </wsdl:message>
  <wsdl:message name="RefreshTickSoapOut">
    <wsdl:part name="parameters" element="tns:RefreshTickResponse" />
  </wsdl:message>
  <wsdl:message name="ResetSoapIn">
    <wsdl:part name="parameters" element="tns:Reset" />
  </wsdl:message>
  <wsdl:message name="ResetSoapOut">
    <wsdl:part name="parameters" element="tns:ResetResponse" />
  </wsdl:message>
  <wsdl:portType name="MetrologServiceSoap">
    <wsdl:operation name="GetCurrentTime">
      <wsdl:input message="tns:GetCurrentTimeSoapIn" />
      <wsdl:output message="tns:GetCurrentTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RefreshTick">
      <wsdl:input message="tns:RefreshTickSoapIn" />
      <wsdl:output message="tns:RefreshTickSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Reset">
      <wsdl:input message="tns:ResetSoapIn" />
      <wsdl:output message="tns:ResetSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MetrologServiceSoap" type="tns:MetrologServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCurrentTime">
      <soap:operation soapAction="Airport-Metrological-Service/GetCurrentTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefreshTick">
      <soap:operation soapAction="Airport-Metrological-Service/RefreshTick" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reset">
      <soap:operation soapAction="Airport-Metrological-Service/Reset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MetrologServiceSoap12" type="tns:MetrologServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCurrentTime">
      <soap12:operation soapAction="Airport-Metrological-Service/GetCurrentTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefreshTick">
      <soap12:operation soapAction="Airport-Metrological-Service/RefreshTick" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reset">
      <soap12:operation soapAction="Airport-Metrological-Service/Reset" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MetrologService">
    <wsdl:port name="MetrologServiceSoap" binding="tns:MetrologServiceSoap">
      <soap:address location="http://localhost:54622/MetrologService.asmx" />
    </wsdl:port>
    <wsdl:port name="MetrologServiceSoap12" binding="tns:MetrologServiceSoap12">
      <soap12:address location="http://localhost:54622/MetrologService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>