WeatherGUI/WeatherGUI/Web References/Weather/WebServiceWeather.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetTemperature">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="gui" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTemperatureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetTemperatureResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetTemperature">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="t" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetTemperatureResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetTempFromCity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTempFromCityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetTempFromCityResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWindFromCity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWindFromCityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetWindFromCityResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrapSnow">
        <s:complexType />
      </s:element>
      <s:element name="CrapSnowResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTemperatureSoapIn">
    <wsdl:part name="parameters" element="tns:GetTemperature" />
  </wsdl:message>
  <wsdl:message name="GetTemperatureSoapOut">
    <wsdl:part name="parameters" element="tns:GetTemperatureResponse" />
  </wsdl:message>
  <wsdl:message name="SetTemperatureSoapIn">
    <wsdl:part name="parameters" element="tns:SetTemperature" />
  </wsdl:message>
  <wsdl:message name="SetTemperatureSoapOut">
    <wsdl:part name="parameters" element="tns:SetTemperatureResponse" />
  </wsdl:message>
  <wsdl:message name="GetTempFromCitySoapIn">
    <wsdl:part name="parameters" element="tns:GetTempFromCity" />
  </wsdl:message>
  <wsdl:message name="GetTempFromCitySoapOut">
    <wsdl:part name="parameters" element="tns:GetTempFromCityResponse" />
  </wsdl:message>
  <wsdl:message name="GetWindFromCitySoapIn">
    <wsdl:part name="parameters" element="tns:GetWindFromCity" />
  </wsdl:message>
  <wsdl:message name="GetWindFromCitySoapOut">
    <wsdl:part name="parameters" element="tns:GetWindFromCityResponse" />
  </wsdl:message>
  <wsdl:message name="CrapSnowSoapIn">
    <wsdl:part name="parameters" element="tns:CrapSnow" />
  </wsdl:message>
  <wsdl:message name="CrapSnowSoapOut">
    <wsdl:part name="parameters" element="tns:CrapSnowResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceWeatherSoap">
    <wsdl:operation name="GetTemperature">
      <wsdl:input message="tns:GetTemperatureSoapIn" />
      <wsdl:output message="tns:GetTemperatureSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetTemperature">
      <wsdl:input message="tns:SetTemperatureSoapIn" />
      <wsdl:output message="tns:SetTemperatureSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTempFromCity">
      <wsdl:input message="tns:GetTempFromCitySoapIn" />
      <wsdl:output message="tns:GetTempFromCitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWindFromCity">
      <wsdl:input message="tns:GetWindFromCitySoapIn" />
      <wsdl:output message="tns:GetWindFromCitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CrapSnow">
      <wsdl:input message="tns:CrapSnowSoapIn" />
      <wsdl:output message="tns:CrapSnowSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceWeatherSoap" type="tns:WebServiceWeatherSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTemperature">
      <soap:operation soapAction="http://tempuri.org/GetTemperature" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTemperature">
      <soap:operation soapAction="http://tempuri.org/SetTemperature" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTempFromCity">
      <soap:operation soapAction="http://tempuri.org/GetTempFromCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWindFromCity">
      <soap:operation soapAction="http://tempuri.org/GetWindFromCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrapSnow">
      <soap:operation soapAction="http://tempuri.org/CrapSnow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceWeatherSoap12" type="tns:WebServiceWeatherSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTemperature">
      <soap12:operation soapAction="http://tempuri.org/GetTemperature" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTemperature">
      <soap12:operation soapAction="http://tempuri.org/SetTemperature" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTempFromCity">
      <soap12:operation soapAction="http://tempuri.org/GetTempFromCity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWindFromCity">
      <soap12:operation soapAction="http://tempuri.org/GetWindFromCity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrapSnow">
      <soap12:operation soapAction="http://tempuri.org/CrapSnow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceWeather">
    <wsdl:port name="WebServiceWeatherSoap" binding="tns:WebServiceWeatherSoap">
      <soap:address location="http://airport-dko-weather.azurewebsites.net/WebServiceWeather.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceWeatherSoap12" binding="tns:WebServiceWeatherSoap12">
      <soap12:address location="http://airport-dko-weather.azurewebsites.net/WebServiceWeather.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>